img {
    float: left;
}
    
H1 {
    color: white;
    background-color: rgb(10, 128, 128);
    padding-top: 15px;
    padding-bottom: 15px;
    Padding-left: 30px;
    padding-right: 30px;
    margin-right: 650px;

}
.my-story {
    float: right;
}
footer {background-color: gray;
padding-top 40px; 
padding-bottom 40px;
padding-right 100px
padding-left 0px;}

